USE [master]
GO
/****** Object:  Database [r67_MSD]    Script Date: 3/24/2026 1:21:57 AM ******/
CREATE DATABASE [r67_MSD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'r67_MSD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\r67_MSD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'r67_MSD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\r67_MSD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [r67_MSD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [r67_MSD]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 3/24/2026 1:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[clientId] [int] IDENTITY(1,1) NOT NULL,
	[clientName] [nvarchar](50) NOT NULL,
	[birthDate] [date] NOT NULL,
	[age] [int] NOT NULL,
	[picture] [nvarchar](max) NULL,
	[insideDhaka] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 3/24/2026 1:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[clientId] [int] NULL,
	[productId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 3/24/2026 1:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([clientId], [clientName], [birthDate], [age], [picture], [insideDhaka]) VALUES (1, N'Abdullah', CAST(N'2000-01-06' AS Date), 26, N'/Images/639099106318162586.png', 1)
INSERT [dbo].[clients] ([clientId], [clientName], [birthDate], [age], [picture], [insideDhaka]) VALUES (2, N'Azman Ali', CAST(N'1990-03-01' AS Date), 36, N'/Images/639099104623288280.png', 1)
INSERT [dbo].[clients] ([clientId], [clientName], [birthDate], [age], [picture], [insideDhaka]) VALUES (3, N'Inzamam', CAST(N'1993-01-02' AS Date), 33, N'/Images/639099102692178346.png', 0)
SET IDENTITY_INSERT [dbo].[clients] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([orderId], [clientId], [productId]) VALUES (18, 5, 1)
INSERT [dbo].[orders] ([orderId], [clientId], [productId]) VALUES (19, 5, 3)
INSERT [dbo].[orders] ([orderId], [clientId], [productId]) VALUES (29, 2, 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([productId], [productName]) VALUES (1, N'Table')
INSERT [dbo].[products] ([productId], [productName]) VALUES (2, N'Chair')
INSERT [dbo].[products] ([productId], [productName]) VALUES (3, N'DesinTable')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([clientId])
REFERENCES [dbo].[clients] ([clientId])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([productId])
GO
USE [master]
GO
